.home {
    .homepage-features {
        .feature-image {
            padding-top: 5vw;
            padding-bottom: 15vw;
            height: 40vw;
            background-size: cover;
            @include breakpoint(small only) {
                height: 60vw;
            }
        }
        .feature {
            .feature-content {
                color: $white;
                .feature-title {
                    background-color: rgba(0, 0, 0, 0.8);
                    border: 5px solid $white;
                    h2 {
                        @include encode-cb;
                        text-align: center;
                        padding: 1rem;
                        margin-bottom: 0px;
                    }
                }
                .feature-excerpt {
                    background-color: rgba(0, 0, 0, 0.6);
                    p {
                        font-weight: 600;
                        line-height: 2rem;
                        padding: 2rem 2rem .5rem .5rem;
                    }
                }
            }
        }
    }
    .focus-areas, .do-this {
        .focus-tile, .do-this-tile {
            &:nth-child(4) {
                @include breakpoint(medium only) {
                    clear: both;
                }
            }
        }
    }
}
