.homepage {
    background-color: $light-gray;
    .homepage-features {
        .playpause {
            z-index: 500;
            width: 3rem;
            padding: 0.25rem;
            font-size: 1.5rem;
            position: absolute;
            top: 2vw;
            right: 10vw;
            @include breakpoint(small only) {
                margin: auto;
            }
            text-align: center;
            i {
                color: $dark-gray;
                cursor: pointer;
            }
            .progress {
                margin-bottom: 0rem;
                height: .5rem;
                .progress-meter {
                    background-color: rgba(0, 0, 0, 0.6);
                }
            }
        }
        position: relative;
        width: 100%;
        padding-top: 5vw;
        height: 45vw;
        @include breakpoint(medium only) {
            height: 60vw;
        }
        @include breakpoint(small only) {
            height: 700px;
        }
        min-height: 600px;
        max-height: 750px;
        .feature-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 5vw;
            background-size: cover;
            background-position: 50% 50%;
            background-color: $black;
            height: 45vw;
            @include breakpoint(medium only) {
                height: 60vw;
            }
            @include breakpoint(small only) {
                height: 700px;
            } 
            min-height: 600px;
            max-height: 750px;
            opacity: 0;
            -webkit-transition: opacity 0.5s linear;
            -moz-transition: opacity 0.5s linear;
            -o-transition: opacity 0.5s linear;
            transition: opacity 0.5s linear;
            &.active {
                opacity: 1;
            }
        }
        .feature {
            margin-top: 3rem;
            @include breakpoint(small only) {
                margin-top: 5rem;
            }
            .feature-info-container {
                position: relative;
                z-index: 0;
                .feature-content {
                    color: $white;
                    .feature-title {
                        background-color: rgba(0, 0, 0, 0.9);
                        border: 5px solid $white;
                        h2 {
                            text-align: center;
                            padding: 1rem;
                            @include breakpoint(small) {
                                font-size: 1.5rem;
                            }
                            @include breakpoint(medium) {
                                font-size: 2rem;
                            }
                            @include breakpoint(large) {
                                font-size: 2.7rem;
                            }
                            margin-bottom: 0px;
                        }
                    }
                    .feature-excerpt {
                        background-color: rgba(0, 0, 0, 0.8);
                        p {
                            font-weight: 600;
                            line-height: 2rem;
                            padding: 2rem 2rem .5rem .5rem;
                            @include breakpoint(small only) {
                                font-size: 0.8rem;
                                padding: 1rem .5rem .5rem .5rem;
                            }
                        }
                    }
                }
                .hero-texture {
                    background: url('../images/hero-slant.png');
                    position: absolute;
                    right: 0.9375rem;
                    bottom: -2.5rem;
                    @include breakpoint(small) {
                        width: 105%;
                    }
                    @include breakpoint(medium) {
                        width: 70%;
                    }
                    @include breakpoint(large) {
                        width: 55%;
                    }
                    height: 8rem;
                    z-index: -1;
                }
            }
        }
    }
    
    .focus-areas, .do-this, .news-events {
        .row {
            position: relative;
            height: 100%;
        }
        .widgets-area {
            padding: 3rem 0rem;
            background: $light-gray;
        }

        .focus-texture, .do-this-texture, .news-texture {
            height: 5rem;
        }
        .block-title {
            text-align: center;
            position: absolute;
            top: -100%;
            @include breakpoint(small only) {
                width: 190px;
                left: 0;
                right: 0;
                margin: 0 auto;
                float: none;
            }
            @include breakpoint(medium) {
                width: 200px;
            }
            z-index: 3;
            padding: 1rem 1.5rem;
            h3 {
                font-size: 1.4rem;
                line-height: 2.25rem;
                @include breakpoint(small only) {
                    font-size: 1.25rem;
                }
                text-transform: uppercase;
            }
            .button {
                border: 3px solid $black;
                font-size: 1rem;
                @include montserrat_b;
                color: $black;
                padding: 0.5rem;
                background-color: rgba(0, 0, 0, 0);
                &:hover {
                    color: $white;
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }
        }
        .focus-title {
            background: url('../images/focus-title.png');
            background-size: cover;
            border: 5px solid $focus-red;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        .do-title {
            background-color: $do-this-blue;
            border: 5px solid $do-this-blue;
            background-image: url('../images/how-title.png');
        }
        .news-title {
            background-color: $news-yellow;
            border: 5px solid $news-yellow;
            background-image: url('../images/news-title.png');
        }
        .focus-tile, .do-this-tile {
            text-align: center;
            &:nth-child(3) {
                @include breakpoint(medium only) {
                    clear: both;
                }
            }
        }
        .focus-tile {
            border-right: 3px solid $white;
            &:first-child {
                border-left: 3px solid $white;
            }
            @include breakpoint(medium only) {
                border-bottom: 3px solid $white;
                min-height: 375px;
            }
            @include breakpoint(small only) {
                border-bottom: 3px solid $white;
                &:first-child {
                    border-top: 3px solid $white;
                }
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.85);
                a {
                    .focus_area_title {
                        color: $white;
                    }
                    hr {
                        border-bottom: 3px solid $white;
                    }
                }
            }
            a {
                display: block;
                padding: 4rem 0rem;
                
                @include breakpoint(large) {
                }
                .focus-icon {
                    height: 7rem;
                }
                hr {
                    border-bottom: 3px solid $medium-gray;
                    width: 33%;
                }
                .focus_area_title {
                    @include breakpoint(small only) {
                        font-size: 1.25rem;
                    }
                    color: $black;
                    text-transform: uppercase;
                    vertical-align: middle;
                    margin: .5rem;
                    @include breakpoint(large) {
                        min-height: 5.5rem;
                    }
                }
            }
        }
        .do-this-tile {
            &:nth-of-type(1) {
                background-image: url('../images/1.png');
            }
            &:nth-of-type(2) {
                background-image: url('../images/2.png');
            }
            &:nth-of-type(3) {
                background-image: url('../images/3.png');
            }
            &:nth-of-type(4) {
                background-image: url('../images/4.png');
            }
            font-size: 1.1rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            @include breakpoint(large) {
                min-height: 280px;
            }
            .do_container {
                padding: 0rem;
                @include breakpoint(small only) {
                    padding: 0rem 5%;
                }
                .do_area_title {
                    font-size: 1.4rem;
                    padding-top: 1rem;
                    vertical-align: bottom;
                    margin-bottom: 0rem;
                    @include breakpoint(medium) {
                        min-height: 70px;
                    }
                }
                hr {
                    border-bottom: 3px solid $medium-gray !important;
                    width: 33%;
                }
                .do-description {
                    @include montserrat_b;
                }
            }
        }
        .news, .events {
            margin-top: 4rem;
            .home_article {
                padding-top: 2rem;
                .article__content {
                    .article__meta {
                        font-size: .95rem;
                        @include montserrat_b;
                        text-transform: uppercase;
                        margin-bottom: .25rem;
                    }
                    .article__title {
                        a {
                            font-size: 1.5rem;
                            color: $black;
                        }
                        position: relative;
                        padding-bottom: .75rem;
                        &:after {
                            position: absolute;
                            content: '';
                            height: 3px;
                            width: 3rem;
                            background-color: $medium-gray;
                            bottom: 0px;
                            left: 0px;
                        }
                    }
                    .article__teaser {
                        margin-top: .75rem;
                    }
                }
                .article__image {
                    img {
                        border: 5px solid $medium-gray;
                    }
                    @include breakpoint(small only) {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
    .events {
        margin-bottom: 3rem;
        .article__image {
            a {
                display: block;
                border: 5px solid $medium-gray;
                background-image: url('../images/event_background.png');
                background-size: cover;
                .event_container {
                    padding: 3rem 0rem;
                    background-image: url('../images/calendar_icon_home.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    color: $white;
                    text-transform: uppercase;
                    @include montserrat_b;
                    span {
                        display: block;
                    }
                    .month {
                        font-size: 1.5rem;
                    }
                    .day {
                        font-size: 5rem;
                        line-height: 3.5rem;
                    }
                }
                text-align: center;
            }
        }
    }
    .do-this-texture {
        background-image: url('../images/how-cross.png');
    }
    .news-texture {
        background-image: url('../images/news-slant.png');
        background-size: contain;
    }
    .focus-areas {
        background-image: url('../images/focus-slant.png');
        background-size: cover;
        background-repeat: repeat-x;
        .widgets-area {
            padding: 0rem;
        }
    }
    .divider {
        @include breakpoint(small) {
            height: 200px;
            background-size: 1920px;
        }
        @include breakpoint(medium) {
            height: 350px;
        }
        @include breakpoint(large) {
            height: 450px;
        }
        @include breakpoint(xxlarge) {
            background-size: cover;
        }
    }
    .do-this-divider {
        background-image: url('../images/oyster_divider.jpg');
        background-position: center 60%;
    }
    .news-divider {
        background-image: url('../images/655858064.jpg');
    }
}
