.homepage {
    background-color: $light-gray;
    .homepage-features {
        .playpause {
            z-index: 500;
            width: 3rem;
            padding: 0.25rem;
            font-size: 1.5rem;
            position: absolute;
            background-color: rgba(0,0,0,0.1);
            -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.1);
            -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.1);
            box-shadow: 1px 2px 3px rgba(0,0,0,.1);
            border-radius: 5px;
            top: 2vw;
            right: 15vw;
            @include breakpoint(small only) {
                margin: auto;
                margin-top: 1rem;
            }
            text-align: center;
            i {
                color: $white;
                cursor: pointer;
            }
            .progress {
                margin-bottom: 0rem;
                height: .5rem;
                .progress-meter {
                    background-color: $white;
                }
            }
        }
        position: relative;
        width: 100%;
        padding-top: 5vw;
        height: 45vw;
        @include breakpoint(medium only) {
            height: 60vw;
        }
        @include breakpoint(small only) {
            height: 700px;
        }
        min-height: 600px;
        max-height: 750px;
        .feature-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 5vw;
            background-size: cover;
            background-position: 50% 50%;
            background-color: $black;
            height: 45vw;
            @include breakpoint(medium only) {
                height: 60vw;
            }
            @include breakpoint(small only) {
                height: 700px;
            } 
            min-height: 600px;
            max-height: 750px;
            opacity: 0;
            -webkit-transition: opacity 0.5s linear;
            -moz-transition: opacity 0.5s linear;
            -o-transition: opacity 0.5s linear;
            transition: opacity 0.5s linear;
            &.active {
                opacity: 1;
            }
        }
        .feature {
            margin-top: 3rem;
            @include breakpoint(small only) {
                margin-top: 5rem;
            }
            .feature-info-container {
                position: relative;
                z-index: 0;
                .feature-content {
                    color: $white;
                    .feature-title {
                        background-color: rgba(0, 0, 0, 0.9);
                        border: 5px solid $white;
                        h2 {
                            text-align: center;
                            padding: 1rem;
                            @include breakpoint(small) {
                                font-size: 1.5rem;
                            }
                            @include breakpoint(medium) {
    
                                font-size: 2rem;
                            }
                            @include breakpoint(large) {
                                font-size: 2.7rem;
                            }
                            margin-bottom: 0px;
                        }
                    }
                    .feature-excerpt {
                        background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0,0,0,1));
                        p {
                            font-weight: 600;
                            line-height: 2rem;
                            padding: 2rem 2rem .5rem .5rem;
                            margin-bottom: 0;
                            @include breakpoint(small only) {
                                font-size: 0.8rem;
                                padding: 1rem .5rem .5rem .5rem;
                            }
                        }
                        .button {
                            border-color: white;
                            color: white;
                            margin-left: .5rem;
                            margin-bottom: 1.5rem;
                            margin-top: 0;
                        }
                    }
                }
                .hero-texture {
                    background: url('../images/hero-slant.png');
                    position: absolute;
                    right: 0.9375rem;
                    bottom: -2.5rem;
                    @include breakpoint(small) {
                        width: 105%;
                    }
                    @include breakpoint(medium) {
                        width: 70%;
                    }
                    @include breakpoint(large) {
                        width: 55%;
                    }
                    height: 8rem;
                    z-index: -1;
                }
            }
        }
    }


    .news-events {
        .news-title {
            background: url('../images/focus-title.png');
            background-size: cover;
            border: 5px solid $focus-red;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        .block-title {
            top: -100%;
        }
        
    }

    .tab-title {
        padding-left: 0;
        position: relative;
        h2 {
            position: absolute;
            background-color: $focus-red;
            top: -7rem;
            padding: 1rem;
            margin-left: 0;
            text-transform: uppercase;
            font-size: 1.25rem;
        }
    }

    .featured-work {
        border: 6px solid $focus-red;
        background-position: center!important;
        background-size: cover!important;
        padding: 3rem 3rem;
        background: $light-gray;
        h3 {
            text-transform: uppercase;
            font-size: 1rem;
        }
        .inner-black-box {
            border: 2px solid white;
            background-color: black;
            color: white;
            padding: 3rem;
            @include montserrat_b;
            a {
                color: white;
                margin-bottom: 0;
                border-color: white;
            }
        }
    }

    .approach {
        .approach-title {
            background: url('../images/how-2-title.png');
            background-size: cover;
            border: 5px solid $focus-red;
            padding-top: 2rem;
            padding-bottom: 2rem;
            top: 2rem;
        }
        .widgets-area {
            background-position: center!important;
            background-size: cover!important;
            padding-top: 10rem!important;
        }
        .row {
            @include breakpoint(large) {
                display: flex;
            }
        }
        .column-block {
        }
        .inner-box {
            background-color: black;
            border: 3px solid white;
            color: white;
            padding: 1rem;
            text-align: center;
            height: 100%;
            align-items: center;
            justify-content: center;

            h3 {
                text-transform: uppercase;
                font-size: 1rem;
            }
        }
    }
    
    .featured-work, .approach, .news-events {
        .row {
            position: relative;
            height: 100%;
        }
        .widgets-area {
            padding: 3rem 0rem;
            background: $light-gray;
        }
        .block-title {
            text-align: center;
            position: absolute;
            @include breakpoint(small only) {
                width: 190px;
                left: 0;
                right: 0;
                margin: 0 auto;
                float: none;
            }
            @include breakpoint(medium) {
                width: 200px;
            }
            z-index: 3;
            padding: 1rem 1.5rem;
            h3 {
                font-size: 1.4rem;
                line-height: 2.25rem;
                @include breakpoint(small only) {
                    font-size: 1.25rem;
                }
                text-transform: uppercase;
            }
            .button {
                border: 3px solid $black;
                font-size: 1rem;
                @include montserrat_b;
                color: $black;
                padding: 0.5rem;
                background-color: rgba(0, 0, 0, 0);
                &:hover {
                    color: $white;
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }
        }
        .focus-texture, .approach-texture, .news-texture {
            height: 5rem;
        }
        
        .news, .events {
            margin-top: 4rem;
            margin-bottom: 1rem;
            .news-main {
                .article {
                    margin-bottom: 1rem;
                    .coenv-thumb {
                        img {
                            width: 100%;
                            margin-bottom: 1rem;
                        }
                        @include breakpoint(small only) {
                            margin-bottom: 1rem;
                        }
                    }
                    .article__content {
                        .article__meta {
                            font-size: .95rem;
                            @include montserrat_b;
                            text-transform: uppercase;
                            margin-bottom: .25rem;
                        }
                        .article__title {
                            a {
                                font-size: 1.5rem;
                                color: $black;
                            }
                            position: relative;
                            padding-bottom: .75rem;
                            &:after {
                                position: absolute;
                                content: '';
                                height: 3px;
                                width: 3rem;
                                background-color: $medium-gray;
                                bottom: 0px;
                                left: 0px;
                            }
                        }
                        .article__teaser {
                            margin-top: .75rem;
                        }
                    }
                }
            }
            .news-sidebar {
                .article {
                    .article__title {
                        @include montserrat_b;
                    }
                }
            }
        }
    }
    .events {
        margin-bottom: 3rem;
        .article__image {
            a {
                display: block;
                border: 5px solid $medium-gray;
                background-image: url('../images/event_background.png');
                background-size: cover;
                .event_container {
                    padding: 3rem 0rem;
                    background-image: url('../images/calendar_icon_home.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    color: $white;
                    text-transform: uppercase;
                    @include montserrat_b;
                    span {
                        display: block;
                    }
                    .month {
                        font-size: 1.5rem;
                    }
                    .day {
                        font-size: 5rem;
                        line-height: 3.5rem;
                    }
                }
                text-align: center;
            }
        }
    }
    .approach-texture {
        background-image: url('../images/how-cross.png');
    }
    .news-texture {
        background-image: url('../images/focus-slant.png');
        background-size: cover;
        background-repeat: repeat-x;
    }
    .focus-areas {
        background-image: url('../images/focus-slant.png');
        background-size: cover;
        background-repeat: repeat-x;
        .widgets-area {
            padding: 0rem;
        }
    }
    .divider {
        @include breakpoint(small) {
            height: 200px;
            background-size: 1920px;
        }
        @include breakpoint(medium) {
            height: 350px;
        }
        @include breakpoint(large) {
            height: 450px;
        }
        @include breakpoint(xxlarge) {
            background-size: cover;
        }
    }
    .approach-divider {
        background-image: url('../images/homepage-divider-gasworks.jpg');
    }
    .news-divider {
        background-image: url('../images/news_divider.jpg');
    }
}
