.page-template-index {
    .main-content {
        .panel {
            padding: 1rem 0rem;
            overflow: hidden;
            border-bottom: 3px solid $medium-gray;
            margin-bottom: 1rem;
            .term {
                @include circular_sb;
                font-weight: bold;
            }
            .right, .left {
                display: inline-block;
            }
            .left {
                margin-top: .5rem;
            }
            .right {
                float: right;
                .button {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.main-content {
    margin-bottom: 4rem;
}
