#page, #page-sidebar-left {
    @include grid-row();
    margin-top: 3rem;
    .main-content {
        @include breakpoint(small) {
            @include grid-column(12);
        }

        @include breakpoint(medium) {
            @include grid-column(8);
        } 
    }
}

.main-content {
    .intro {
        @include montserrat_b;
        font-size: 1.1rem;
    }

    figure {
        margin-bottom: 1rem;
        border: 5px solid #cacaca;
        &.alignright {
            padding-left: 0;
            margin-left: 1rem;
        }
        .source {
            text-align: right;
            background-color: #cacaca;
            font-size: 0.75rem;
            padding-right: 0.5rem;
            margin-top: -1rem;
            z-index: -1;
        }
        figcaption.wp-caption-text {
            font-size: 0.75rem;
            text-align: center;
            color: $text;
            padding: .5rem;
            background-color: #cacaca;
            @include montserrat_b;
        }
    }

    ul, ol {
       list-style-position: inside;
       list-style-type: none;
       margin-left: 0px;
        @include montserrat_b;
        li:not(.director_item) {
            -webkit-box-shadow: 0px -3px 0px #fff inset;
            -moz-box-shadow: 0px -3px 0px #fff inset;
            box-shadow: 0px -3px 0px #fff inset;
            padding-left: 1.5rem;
            &:before {
                content: url('../images/ellipse.png');
                margin-left: -1.5rem;
                margin-right: .5rem;
            }
            a {
                clear: both;
            }
        }
        li {
            padding-top: .75rem;
            padding-bottom: .75rem;
        }
    }
    ul.two-col {
        overflow: hidden;
        padding-left: 0px;
        li {
            width: 100%;
            @include breakpoint(medium) {
                width: 45%;
                margin-right: 4%;
            }
        }
    }

	

    h2 {
        padding-bottom: .75rem;
        margin-bottom: .75rem;
        position: relative;
        text-transform: uppercase;
        color: $black;
        a {
            color: $black;
            &:hover {
                color: $focus-red-dark;
            }
        }
        &:after {
            position: absolute;
            bottom: 0rem;
            left: 0rem;
            content: '';
            width: 5rem;
            height: 3px;
            background-color: $focus-red;
        }
    }

    h2.page-title {
        margin-bottom: 1.5rem;
        font-size: 2.25rem;
        &:after {
            width: 8rem;
        }
    }

    blockquote {
    	@include montserrat_b;
		padding: 1rem;
		background-color: $black;
		color: $white;
		width: 45%;
		overflow: hidden;
        float: left;
        position: relative;
        margin-right: 1rem;
		@include breakpoint(small only) {
			width: 100%;
		}
        &:after {
            content: '\f10d';
            font-family: FontAwesome;
            position: absolute;
            width: 1.5rem;
            top: .25rem;
            left: .5rem;
        }
		p {
            text-align: center;
            font-style: italic;
			color: $white;
			margin-bottom: 0rem;
		}
		h2 {
			text-transform: none;
			&:after {
				display: none;
			}
		}
    }

    .accordion {
        .accordion-title {
            border: none;
            border-top: 3px solid $focus-red;
            margin-bottom: 0rem;
        }
        margin-bottom: 1rem;
    }

    table {
        width: 100%;
        border: 1px solid $medium-gray;
        th,
        td {
            @include rem('padding', 0.25, 0.25, 0.25, 0.5);
            text-align: left;
        }

        th {
            background: #D9D9D9;
            border-bottom: 1px solid $medium-gray;
        }

        tbody th {
            background: #eee;
            font-weight: 400;
            border: none;
        }
    }

    .contact {
        @include breakpoint(small) {
            width: 100%;
        }
        @include breakpoint(large) {
            width: 48%;
            float: left;
            padding: 0px 2% 0px 0%;
        }
        .profile-image {
            width: 130px;
            padding-right: 0px;
        }
        position: relative;
        overflow: hidden;
        margin-bottom: 1rem;
        .contact-info {
            margin-left: 130px;
            .contact-title {
                position: absolute;
                top: 0;
                padding-left: .75rem;
                h3 {
                    padding: 0rem;
                    margin: 0rem;
                    font-size: 120%;
                }
                h4{
                    padding: 0rem;
                    font-size: 70%;
                    text-transform: uppercase;
                }
            }
            .contact-list {
                box-shadow: 0px 3px 0px #fff inset;
                min-width: 175px;
                font-size: 85%;
                position: absolute;
                @include breakpoint(small) {
                    top: 47%;
                }
                padding: .5rem;
                padding-left: .75rem;
                li {
                    padding: .0rem;
                    box-shadow: none;
                    &:before {
                        width: 0px;
                        display: none;
                    }
                    i {
                        font-style: normal;
                        padding-right: .5rem;
                    }
                    a {
                    }
                }
            }
        }
    }
}

#search, #not-found {
    margin-top: 3rem;
    @include grid-row();

    .main-content {
        @include grid-column(12);
        .panel {
            background-color: $focus-red;
            color: $white;
            padding: .5rem;
            padding-left: 1rem;
            vertical-align: bottom;
            font-size: .9rem;
            text-transform: uppercase;
            @include montserrat_b;
        }

        h2 {
            margin-top: 1rem;
            margin-bottom: 0px;
            a {
                color: #101010;
                text-decoration: underline;
                &:hover {
                    color: #000000;
                }
            }
            &:after {
                display: none;
            }
        }
    }
}

#not-found {
    ul {
        font-family: $body-font-family;
        font-size: 1rem;
        @include breakpoint(small) {
            width: 100%;
        }
        @include breakpoint(medium) {
            width: 50%;
        }
        @include breakpoint(large) {
            width: 33%;
        }
    }
}
#search, #not-found {
	.field-wrap {
        // .field-wrap is weird, doesn't cover submit
        width: 100%;

		input[type="text"] {
			border-bottom: solid 1px #cccccc;
			border-left: solid 1px #ccc;
			border-right: 0;
			border-top: solid 1px #999;
			font-size: 16px;
			height: 42px;
			margin-bottom: 1rem;
			padding-left: rem-calc(15);
			width: 85%;
			@include placeholder() {
				color: $dark-gray;
			}
		}
		button {
			height: auto;
			padding: 3px 0;
			background-color: $medium-gray;
		}
		button[type="submit"] {
			width: 15%;
			height: 2.6rem;
		}
	}
}

.pagination {
    margin-top: 0.5rem;
    text-align: center;
    li {
        padding: 0px !important;
        &:before {
            display: none !important;
        }
        &:not(.director_item) {
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
        }
        a {
            padding: .375rem 1.25rem !important;
        }
    }
}
