.accordion {
    background: transparent;
    .accordion-title {
        background: #fefefe;
        &:before {
            margin-top: -0.75rem;
        }
        &:hover {
            cursor: pointer;
        }
        &.open {
            &:before {
                content: '-';
            }
        }
    }
    .accordion-content {
      padding: 0 1rem 1rem 1rem;   
    }
}