.article {
	.event { 
		display: block;
		border: 5px solid $medium-gray;
		background-image: url('../images/event_background.png');
		background-size: cover;
		margin-bottom: 1rem;
		.event_container {
			padding: 3rem 0rem;
			background-image: url('../images/calendar_icon_home.png');
			background-repeat: no-repeat;
			background-position: center center;
			color: $white;
			text-transform: uppercase;
			@include circular_sb;
			span {
				display: block;
			}   
			.month {
				font-size: 1.5rem;
			}   
			.day {
				font-size: 5rem;
				line-height: 3.5rem;
			}   
		}   
		text-align: center;
	} 
    .article__header {
        .article__meta {
            font-size: .8rem;
            @include circular_sb;
            text-transform: uppercase;
            margin-bottom: .25rem;
            .article__categories {
                display: inline-block;
            }
        }
        .article__title {
            a {
                color: $black;
                text-transform: none;
            }
            position: relative;
            padding-bottom: .75rem;
            &:after {
                position: absolute;
                content: '';
                height: 3px;
                width: 3rem;
                background-color: $medium-gray;
                bottom: 0px;
                left: 0px;
            }
        }
        .article__teaser {
            margin-top: .75rem;
        }
    }
    .article__content {
        .coenv-thumb {
            img {
                margin: 0rem 0rem .5rem .5rem;
                border: 5px solid $medium-gray;
            }
        }
         
        @include breakpoint(small only) {
            margin-bottom: 1rem;
        }
    }
}
