.article {
    margin-bottom: 2rem!important;
    .event { 
        display: block;
        border: 5px solid $medium-gray;
        background-image: url('../images/event_background.png');
        background-size: cover;
        margin-bottom: 1rem;
        .event_container {
            padding: 3rem 0rem;
            background-image: url('../images/calendar_icon_home.png');
            background-repeat: no-repeat;
            background-position: center center;
            color: $white;
            text-transform: uppercase;
            @include montserrat_b;
            span {
                display: block;
            }   
            .month {
                font-size: 1.5rem;
            }   
            .day {
                font-size: 5rem;
                line-height: 3.5rem;
            }   
        }   
        text-align: center;
    } 
    .article__header {
        .article__meta {
            font-size: .8rem;
            @include montserrat_b;
            text-transform: uppercase;
            margin-bottom: .5rem;
            .article__categories {
                display: inline-block;
            }
        }
        .article__title {
            a {
                color: $black;
                text-transform: none;
            }
            position: relative;
            padding-bottom: .75rem;
            &:after {
                position: absolute;
                content: '';
                height: 3px;
                width: 3rem;
                background-color: $medium-gray;
                bottom: 0px;
                left: 0px;
            }
        }
        .article__teaser {
            margin-top: .75rem;
        }
        .coenv-thumb {
            float: none;
            img {
                margin: .5rem 0rem 1rem 0rem;
            }
        }
    }
    .article__content {
        .coenv-thumb {
            float: right;
            img {
                margin: 0rem 0rem .5rem .5rem;
                border: 5px solid $medium-gray;
            }
        }
         
        @include breakpoint(small only) {
            margin-bottom: 1rem;
        }

        .content_block {
            padding: .5rem .94rem;
            border: 5px solid $black;
            background-color: $white;
            .button {
                margin-bottom: .25rem;
                &:hover {
                    a {
                        color: $white;
                    }
                }
            }
            @include breakpoint(medium) {
                width: 37.5%;
                margin: 0rem 0rem .5rem .94rem;
                float: right;
            }
        }
    }
    
    .more-about-member {
        margin-bottom: 1rem;
        h3 {
            a {
                color: $text;
                &:hover {
                    color: $text;
                    text-decoration: underline;
                }
            }
            @include montserrat_b;
            @include grid-column(10);
            float: none;
            margin-bottom: 0;
            font-size: .8rem;
            padding-top: 1rem;
            padding-bottom: .5rem;
            background-color: $news-yellow;
            color: $text;
            text-transform: uppercase;
        }
        .text-box {
            background: white;
            border: 5px solid $news-yellow;
            .text-box-inner {
                padding: 1.5rem;
                @include montserrat_b;
                .button {
                    margin-bottom: 0;
                    border-color: $news-yellow;
                    &:hover {
                        background-color: darken($news-yellow, 15%);
                    }
                }
            }
        }
    }
}
