/*	Footer
		======================================================================== */

.site-footer {
	@extend .clearfix;
	padding: 2rem 0;
	background: $uw-purple;
	@include font-size(12);
    
    @media print {
        padding-bottom: 0;
    }

	a:hover {
		color: #fff !important;
	}
    
    .right-college {
        padding-top: 1rem;
        #college_black_logo {
            height: 20px;
            width: 250px;
            stroke: $white;
            fill: $white;
            border-bottom: 1px solid $white;
        }
        #university_logo_black {
            height: 16px;
            width: 200px;
            stroke: $white;
            fill: $white;
        }
        #desktop-logo {
            stroke: $white;
            fill: $white;
            float: left;
            height: 40px;
            width: 50px;
            margin-right: .5rem;
        }
    }
    
    .left-college {
        @include rem('margin-bottom', 1);
       form {
            display: block;
			@include breakpoint(medium) {
				text-align: left;
			}

            @media print {
                display: none;
            }

            input[type="text"] {
                @include font-size(12);
                background: #fff;
                color: $black;
				width: 95%;
                margin-bottom: 0px;
                @include breakpoint(medium only) {
                    width: 82%;
                }
                @include placeholder {
                    color: #333;
                }
            }

            button[type="submit"] {
                background: #666;

                i {
                    @include font-size(16);
                    color: #eee;
                }

                &:hover i {
                    color: #fff;
                }

            } // button[type="submit"]

        } // form
        @media print {
            display: none;
        } 
    }
    
    .logo-headers {
        border-bottom: 1px solid darken( $uw-purple, 5% );
        @include rem('margin-bottom', 1);
        &:after {
            content: "";
            display: block;
            z-index: -1;
            top: 50%;
            width: 100%;
            height: 1px;
            background: lighten( $uw-purple, 5% );

        }
    }
	
    .site-footer__header {

		h1 {
            @include encode_cb;
			position: relative;
			z-index: 0;
			margin: 0;
			@include font-size(36);
			font-weight: 800;
			color: $white;

		} // h1

	} // header

	.footer-nav {

		.footer-nav__title {
			display: none;
		}
		ul {
            margin: 0;
            padding: 0;
            list-style: none;

            @media print {
                display: none;
            }   

            a { 
                text-decoration: none;
                color: $white;
            }   

        }

	} // .footer-nav

    

	.footer__info {
		color: $white;
        
        a {
            color: #fff;
            text-decoration: none;
        }
        
        p:first-of-type {
            margin: 0;
        }

		

		.top-links {
			margin: 0;
			padding: 0;
			list-style: none;

			@media print {
				display: none;
			}

			a {
				text-decoration: none;
				color: $white;
			}

		} // .top-links
        
	} // .footer__info

} // .site-footer

.uw-footer {
    background-image: url("../images/black-white-suz.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include rem('padding', 1.5, 0, 1, 0);
    clear: both;
    @extend .clearfix;
    width: 100%;
    @include font-size(10.5);
    font-weight: 600;
    text-transform: uppercase;
    color: #bbb;
    letter-spacing: 0.1em;
    
    @media print {
        padding-top: 0;
    }

    a {
        color: #bbb;
        text-decoration: none;
        &:hover {
		  color: #fff !important;
        }
    }
    
    .be-boundless {
        text-align: center;
        height: 190px;
        @include rem('padding', 3, 0);
        
        img:first-of-type {
            @include rem('padding-bottom', 1.3);
        }
        
        svg:hover #be-boundless-svg {
            fill: $white;
        }
        
        .be-boundless-svg-whole {
            width: 200px;
        }

        .boundless-logo {
            margin: 1.75rem 0;
            width: 325px;
        }
        
        @media print {
            padding: 0;
            height: auto;
        }
    }

    .copyright {

    } // .copyright

    .menu-footer-links {
        text-align: right;
        margin: 0;
        padding: 0;
        list-style: none;

        @media print {
            display: none;
        }

        li {
            display: inline-block;
        } // li

        a {
            text-decoration: none;
        }

    } // .menu-footer-links

	
    .menu-footer-links a { 
        padding: 0 .5rem;
    }

	@include breakpoint(small only) {
		.copyright {
			text-align: center;
		}
		.menu-footer-links {
			text-align: center;
		}	
	}

} // .uw-footer
