/*  ==========================================================================
    Forms
    ========================================================================== */

form {

    &.Form--inline {
        display: inline-block;
        margin: 0;
        padding: 0;

        input,
        button {
            @include font-size(16);
            white-space: nowrap;
            display: inline-block;
            background: #fff;
            border: none;
            color: $text;

        } // input, button

        input[type="text"] {

            @include placeholder() {
                color: $dark-gray;
            }   

        } // input[type="text"]

    }   

    .field-wrap {
        $field-wrap-height: 2.4;
        display: inline-block;
        vertical-align: middle;
		    width: 100%;
        font-size: 0; // white space hack
        white-space: nowrap;

        label {
			display: none;
        }   

        input,
        button {
            display: inline-block;
            vertical-align: top;
            @include font-size(16);
            border-radius: 0;
            @include rem('height', $field-wrap-height);
        }   

        input[type="text"] {
            @include rem('padding', 0, 0.5);
            width: 100%;
            border-radius: 1px 0 0 1px;
        }
		button[type="submit"] {
            @include rem('padding', 0, 0.5);
            @include breakpoint(small) {
                width: 10%;
            }
            @include breakpoint(medium) {
                width: 15%;
            }
            text-align: center;
            background: #ddd;
            border-radius: 0 1px 1px 0;

            &:hover {
                cursor: pointer;
            }
            
            span {
                display: none;
            }

            i { 
                position: relative;
                text-align: center;
                display: block;
                @include font-size(18);
                color: $white;
            }

        } // button[type="submit"]

    } // .field-wrap

} // form


