.sidebar {
    @include breakpoint(medium) {
        margin-top: 0rem !important;
    }

    .quote-widget {
        .quote-box {
            @include montserrat_b;
            padding: 1rem;
            background-color: $black;
            color: $white;
            i {
                font-size: 1.5rem;
            }
            p {
                text-align: center;
                font-style: italic;
            }
        }
    }

    .coenv_base_subnav {
        @include montserrat_b;
        margin-bottom: 3rem;
        h2 {
            background-color: $black;
            text-transform: uppercase;
            color: $white;
            margin-top: -5.75rem;
            margin-bottom: 0rem;
            font-size: 1.1rem;
            display: table;
            min-width: 70%;
            a {
                display: block;
                width: 100%;
                padding: .61rem .5rem;
                color: $white;
            }
        }
        ul.side-nav {
            list-style-type: none;
            margin: 0px;
            li {
                border-bottom: 1px solid $medium-gray;
                font-size: 1.1rem;
                &.active {
                    border-bottom: 1px solid $focus-red;
                }
                &:hover {
                    background-color: $white;
                    border-bottom: 1px solid $focus-red;
                }
                a {
                    display: block;
                    width: 100%;
                    padding: .5rem;
                    color: $black;
                }
            }
            
        }
    }

    .widget_coenv_base_news_cats{
        overflow: hidden;
        .post-meta {
            a {
                color: $white;
                &:hover {
                    color: $white;
                    text-decoration: underline;
                }
            }
            @include montserrat_b;
            @include grid-column(10);
            font-size: .8rem;
            padding-top: 1rem;
            padding-bottom: .5rem;
            background-color: $black;
            color: $white;
            text-transform: uppercase;
        }
        .news-preview {
            background-color: #fff;
            border: 5px solid $black;
            h4 {
                margin-top: 1.5rem;
            }
        }
        .news_thumb {
            img {
                border-bottom: 5px solid $black;
            }
        }
        .event {
            background-image: url('../images/event_background.png');
            background-size: cover;
            border-bottom: 5px solid $black;
			text-align: center;
            .event_container {
				padding: 3rem 0rem;
				background-image: url('../images/calendar_icon_home.png');
				background-repeat: no-repeat;
				background-position: center center;
				color: $white;
				text-transform: uppercase;
				@include montserrat_b;
				span {
					display: block;
				}
				.month {
					font-size: 1.5rem;
				}
				.day {
					font-size: 5rem;
					line-height: 3.5rem;
				}
            }
        }
    }

    .widget_coenv_base_case_cats, .widget_coenv_base_news_cats {
        h4 {
            font-size: 1.25rem;
            line-height: 2rem;
            &:after {
                content: '';
                display: block;
                margin-top: .5rem;
                width: 33%;
                height: 3px;
                background-color: $light-gray;
            }
            a {
                color: $black;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .button {
            border: 3px solid $medium-gray;
            &:hover {
                background-color: rgba(0, 0, 0, 0.75);
                color: $white;
            }
        } 
    }

    .widget_coenv_base_case_cats {
        background-color: #fff;
        margin-top: 4.75rem;
        border: 5px solid $news-yellow;
        position: relative;
        h3 {
            position: absolute;
            top: -4.75rem;
            font-size: 1.3rem;
            width: 11rem;
            word-spacing: 11rem;
            border: 3px solid $news-yellow;
            background: url('../images/news-title.png');
            text-transform: uppercase;
            text-align: center;
            padding: 1.5rem 0rem;
        }
        ul.widget-case-list {
            margin-top: 5rem;
            li.case-preview {
            }
        }
    }
}

.widget-newsletter-signup, .widget-earthlab-text {
    margin-bottom: 1rem;
    .widget-title, h3 {
        a {
            color: $white;
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
        @include montserrat_b;
        @include grid-column(10);
        float: none;
        margin-bottom: 0;
        font-size: .8rem;
        padding-top: 1rem;
        padding-bottom: .5rem;
        background-color: $focus-red;
        color: $white;
        text-transform: uppercase;
    }
    .text-box {
        border: 5px solid $focus-red;
        .text-box-inner {
            padding: 1rem 1rem 0 1rem;
            @include montserrat_b;
            .button {
                margin-bottom: 0;
            }
        }
    }
}
