.entry-content {
    .focus_director {
        color: $white;
        background-color: rgba(0, 0, 0, 0.8);
        border: 0;
        padding: 1rem;
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 0rem !important;
        &:after {
            display: none;
        }
    }
    ul.directors_list {
        border: 5px solid $focus-red;
        @include grid-row();
        margin-bottom: 2rem;
        li.director_item {
            @include breakpoint(medium) {
                @include grid-column(6);
            }
            text-transform: uppercase;
            font-size: 1.5rem;
            padding: 0rem !important;
            text-align: center;
            border-bottom: 0px;
            position: relative;
            overflow: hidden;
            background-size: cover;
            &:hover {
                background: rgba(0, 0, 0, 0.2);
            }
            &:before {
                content: "" !important;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0%;
                z-index: -1;
                background: url(../images/directors-slant.png);
                background-size: cover;
            }
            a {
                padding: 2rem 0rem 1rem 0rem !important;
                display: block;
                color: $black;
                hr {
                    width: 25%;
                    border-bottom: 3px solid $white;
                }
            }
            &:nth-of-type(2) {
                &:before {
                    -moz-transform: scaleX(-1);
                    -o-transform: scaleX(-1);
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                    filter: FlipH;
                    -ms-filter: "FlipH";
                }
                @include breakpoint(medium) {
                    border-left: 5px solid $focus-red;
                }
                @include breakpoint(small only) {
                    border-top: 5px solid $focus-red;
                }
            }
        }
    }
}
