#masthead {
    background-color: $outer-space;
}
.coenv-top-bar-wrapper {
	background-color: $uw-purple;
	.coenv-top-bar {
		@include grid-row();
		overflow: hidden;
		color: $light-gray;
		padding: 0rem 1rem;
		.coenv-top-bar-left {
			float: left;
			margin-bottom: -5px;
			svg {
				margin-top: 10px;
				width: 4.5rem;
				height: 100%;
				fill: $white;
			}
		}
		.coenv-top-bar-right {
			float: right;
			width: 13.5rem;
			.college-logo {
				margin-top: 0.75rem;
				margin-left: 0px;
				li {
					display: block;
					width: 10rem;
					height: 0.75rem;
					padding: 0 0 0 0 !important;
					margin: 0 0 2px 0   !important;
					list-style: none;
				}
				.uw-name {
					width: 10rem;
					fill: $white;
				}
				.college-name {
					width: 13.5rem;
					height: 1rem;
					fill: $white;
					border-bottom: 0.25px solid $light-gray;
					padding-bottom: 0.1rem;
				}
			}
		}
	}
}

.top-bar-wrapper {
	background-color: $outer-space;
    padding-top: 0.5rem;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.shrink {
    padding-top: 0rem;
}
