#masthead {
    position: relative;
    z-index: 1000;
    background-color: $white;
}
.coenv-top-bar-wrapper {
	background-color: $uw-purple;
    background-image: url('../images/header-slant.svg');
    background-size: contain;

	.coenv-top-bar {
		@include grid-row();
		overflow: hidden;
		color: $light-gray;
		padding: 0rem 0.5rem;
		.coenv-top-bar-left {
			float: left;
		    margin-bottom: -7px;
            a.desktop_logo {
                width: 4rem;
                height: 43px;
                display: inline-block;
                #desktop-logo {
                    width: 100%;
                    height: 100%;
                    fill: $white;
                }
            }
            a.university_logo {
                display: inline-block;
                margin-left: 0.75rem;
                width: 275px;
                height: 22px;
                #university_logo {
                    fill: $white;
                    margin-top: 1rem;
                    width: 100%;
                    height: 100%;
                    margin-bottom: 1rem;
                }
            }
		}
		.coenv-top-bar-right {
			float: right;
            ul#menu-el-universal {
                margin-top: .75rem;
                li {
                    @include montserrat_b;
                    border: 3px solid $white;
                    transition: all .5s ease;
                    &:hover {
                        background-color: $white;
                        a {
                            color: $uw-purple;
                            &:before {
                                color: $uw-purple;
                            }
                        }
                    }
                    a {
                        padding: .5rem;
                        font-size: .8rem;
                        color: $white;
                        &:before {
                            content: "\f004";
                            font-family: FontAwesome;
                            color: $white;
                            margin-right: .25rem;
                        }
                    }
                }
                #menu-item-165 {
                    text-transform: uppercase;
                    color: $white;
                    background-color: #b62a2d;
                    border: 1px solid #b62a2d;
                    border-radius: 3px;
                    &:hover {
                        color: $white;
                        background-color: #b62a2d;
                        &:before {
                            color: $white;
                        }
                    }
                    a {
                        &:before {
                            color: $white;
                        }
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
		}
	}
}

.top-bar-wrapper {
	background-color: $white;
    .top-bar-left {
        .menu .home {
            padding: 1.5rem 0rem;
            font-size: 3rem;
            height: 2.5rem;
            @include montserrat_b;
        }
    }
    .top-bar-right {
        ul {
            li {
                margin-bottom: -1px;
                position: relative;
                &.menu-item-has-children {
                    & > a:before {
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 0px;
                        height: 5px;
                        background-color: $focus-red;
                        width: 100%;
                    }
                    &:hover, &.current-menu-item {
                        a:before {
                            background-color: $focus-red-dark;
                        }
                    }
                }
                &:not(.is-dropdown-submenu-parent) {
                    
                    
                    
                }
                .dropdown li {
                    a {
                        padding-top: 1rem !important;
                        padding-bottom: 1rem !important;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.shrink {
    padding-top: 0rem;
}

.sticky-container {
    @include breakpoint(small only) {
        display: none;
    }
}
