#masthead {
    position: relative;
    z-index: 1000;
    background-color: $white;
}
.coenv-top-bar-wrapper {
	background-color: $uw-purple;
	.coenv-top-bar {
		@include grid-row();
		overflow: hidden;
		color: $light-gray;
		padding: 0rem 0.5rem;
		.coenv-top-bar-left {
			float: left;
		    margin-bottom: -7px;
            a.desktop_logo {
                display: inline-block;
                #desktop-logo {
                    margin-top: 10px;
                    width: 4.5rem;
                    height: 100%;
                    fill: $white;
                }
            }
            a.university_logo {
                display: inline-block;
                margin-left: 0.5rem;
                #university_logo {
                    fill: $white;
                    width: 100%;
                    height: 15px;
                    margin-bottom: 1rem;
                }
            }
		}
		.coenv-top-bar-right {
			float: right;
            ul#menu-el-universal {
                margin-top: .5rem;
                li {
                    @include montserrat_b;
                    border: 3px solid $white;
                    a {
                        padding: .5rem;
                        color: $white;
                        &:before {
                            content: "\f004";
                            font-family: FontAwesome;
                            color: $white;
                            margin-right: .25rem;
                        }
                    }
                }
            }
		}
	}
}

.top-bar-wrapper {
	background-color: $white;
    .top-bar-left {
        .menu .home {
            padding: 1.5rem 0rem;
            font-size: 3rem;
            height: 2.5rem;
            @include montserrat_b;
        }
    }
    .top-bar-right {
        ul {
            li {
                margin-bottom: -1px;
                position: relative;
                &:not(.is-dropdown-submenu-parent) {
                    &:hover {
                        a::after {
                            background-color: $focus-red-dark;
                        }
                    }
                    a {
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: -5px;
                            left: 0px;
                            height: 5px;
                            background-color: $focus-red;
                            width: 100%;
                        }
                    }
                }
                .dropdown li {
                    a {
                        padding-top: 1rem !important;
                        padding-bottom: 1rem !important;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.shrink {
    padding-top: 0rem;
}

.sticky-container {
    @include breakpoint(small only) {
        display: none;
    }
}
