/* Basic edits for content prototype */

.home #page {
  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }
    li h3  {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
}

.main-content {
    padding-bottom: 3rem;
}
