@media print {
    body {
        background: white;
        color: black;
        margin: 0;
    }
    a[href] {
        &:after {
            content: none!important;
        }
    }
    
    .sidenav-shortcut, .sidebar {
        display: none;
    }
    
    #page-sidebar-left {
        max-width: none;
        .main-content {
            width: 100%!important;
            left: auto;
        }
    }
    
    p {
        margin-bottom: 1.2rem;
    }
    
    .accordion-content {
        display: block!important;
    }
    
    .desktop_logo svg {
        fill: $accent!important;
    }
    .university_logo svg {
        fill: #000!important;
    }
    
    #site-navigation {
        display: block!important;
    }
    
    .playpause {
        display: none;
    }

    .divider {
        display: none;
        height: 0;
    }

    .sticky {
        position: relative !important;
    }

    #featured-hero {
        padding: 4vw;
        h1 {
            &:after {
                display: none;
            }
        }
    }

    ul.two-col {
        height: 110% !important;
        li {
            width: 100% !important;
            padding: 0px !important;
            margin: 0px !important;
            position: relative !important;
            left: 0px !important;
            top: 0px !important;
        }
    }

    .director_item {
        background: $focus-red;
        background-image: none;
        a {
            background-image: none;
        }
    }

    hr {
        display: none;
    }

    .sidebar {
        .widget_coenv_base_case_cats {
            border-top: 0px;
            h3 {
                border: 0px;
            }
        }
    }

    .top-bar-left {
        width: 100px;
        .home {
            width: 50px;
        }
    }



    .uw-footer {
        padding-top: 0;

        .boundless-logo {
            padding: 0;
            height: auto;
        }

    }

    #university-of-washington-svg {
        display: none;
    }

    form {
        display: none;
    }

    .menu-footer-links {
        display: none;
    }

    .footer-nav {
        display: none;
    }

    .site-footer__header {
        display: none;
    }

    .site-footer {
        padding-bottom: 0;
        text-align: center;
        .right-college {
            display: none;
        }
        .left-college {
            width: 100%;
            text-align: center;
            margin-bottom: -2rem;
            margin-top: -4rem;
            .site-footer__header {
                display: block;
            }
            & > a {
                display: none;
            }
            display: block;
        }
    }
    .boundless-logo {
        display: none;
    }
    .copyright {
        width: 100%!important;
        text-align: center;
    }
}
